<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page </title>


    <!-- <link rel="stylesheet" href="../public/css/style.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/aboutinfo.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <!-- <link href="../public/css/custom.css" rel="stylesheet"> -->
    <link href="css/custom.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css"
        integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div id="header-wrapper" class="wrapper">
        <a href="/main" title="Home">
            <img class="img-responsive" id="mainlogo" src="./files/blog/coep_new_logo.png" alt="Logo">
        </a>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> Logo</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">पतसंस्था</a>
                    </li>
                    <li>
                        <a href="#">Useful Links</a>
                    </li>
                    <li>
                        <a href="qrcode.ejs">QR Code</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="#">Member Details</a></li>
                            <li><a href="#">Pontificate</a></li>
                            <li><a href="#">Synergize</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Login/Register</a>
                    </li>
                    <li>
                        <a href="#">सभासद हिताच्या योजना</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <!-- Search -->
                    <!-- <form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control">
						</div>
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
							Search</button>
					</form> -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Some text about who we are and what we do.</p>
        <!-- <p>Resize the browser window to see that this page is responsive by the way.</p> -->
    </div>


    <!-- <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/w3images/team1.jpg" alt="Photo1" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jane@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/w3images/team2.jpg" alt="Photo2" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>mike@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="/w3images/team3.jpg" alt="Photo3" style="width:100%">
                <div class="container">
                    <h2>John Doe</h2>
                    <p class="title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>john@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div> -->
<!-- 
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="/w3images/team1.jpg" alt="Photo1" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jane@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        



        <div class="column">
            <div class="card">
                <img src="/w3images/team1.jpg" alt="Photo1" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>jane@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div> -->


    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h3>पतसंस्था एका दृष्टीक्षेपात</h3>
                    <ol> सभासद संख्या २४९२</ol>
                    <ol> भागभांडवल रुपये १८८७९५०००</ol>
                    <ol> कर्ज बाकी रुपये ८३४१०८६८८</ol>
                    <ol> सभासद ठेवी रुपये ६६२५७२५३९</ol>
                    <ol> बँक शेअर्स रुपये १५२४२०००</ol>
                    <ol>बँक ठेवी रुपये ७७४११३८४</ol>
                    <ol> नफा रुपये २३२७८५८५</ol>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="cardbox">
                <div class="container">
                    <h3>सभासद हिताच्या योजना</h3>
                    <ol> सदाफुली, लक्षाधिश, आवर्ती ठेव व इतर मुदत ठेवी. </ol>
                    <ol> आवर्ती ठेव वगळुन इतर ठेवीवर कर्ज वाटप. </ol>
                    <ol>सेवानिवृत्त प्राथ. शिक्षकांचा सपत्नीक सत्कार - गुणवंत विद्यार्थ्यांचा सत्कार </ol>
                    <ol> सेवेत असतांना मय्यत झालेल्या सभासदांचे १०० टक्के कर्ज माफ योजना</ol>
                    <ol>सभासदांच्या कुटुंबाकरीता सांत्वना निधी तात्काळ मदत रु. ३००००/- व कर्ज निरंक असल्यास रु. ३,00,000/- </ol>
                    <ol> संस्थेचे मुख्य कार्यालय व सहा शाखा स्वमालकीच्या इमारतीमध्ये आहेत. सर्व शाखा संगणीकृत प्रणालीद्वारे अद्यावत.</ol>
                    <ol>सभासदाच्या कायम ठेवीवर द.सा.द.शे. ०९ % व्याज दिले जाते. सभासद कर्जाचा व्याजदर द.सा.द.शे. ११% </ol>
                    <ol></ol>
                    <ol></ol>
                    <ol></ol>
                    <ol></ol>
                </div>
            </div>
        </div>
    </div>






    <div class="small-print">
        <div class="container">
            <p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
            <p>Copyright &copy; Example.com 2015 </p>
        </div>
    </div>
    </footer>


    <!-- jQuery -->
    <script src="js/script.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript  -->
    <script src="js/bootstrap.min.js"></script>

    <!-- IE10 viewport bug workaround -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- Placeholder Images -->
    <script src="js/holder.min.js"></script>
</body>

</html>