<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File 1</title>
</head>
<body>
  <!-- You can include content from file2.ejs here -->
  <%- include('file2') %>
  <!-- <h1>This is content from File 1</h1> -->

  <form action="/file2" method="GET">
    <button type="submit">Open File 2</button>
  </form>
</body>
</html>
